{:deps {dali/dali {:mvn/version "1.0.2"}
        io.github.nextjournal/clerk {:mvn/version "0.13.842"}
        org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        meander/epsilon {:mvn/version "0.0.650"}
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}}}